body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navigation Bar Styles */
header {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 50px;
  height: auto;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: none;
}

/* Main styles */
.products-container {
  width: 1200px;
  background-color: aliceblue;
  margin: auto;
  display: flex;
  padding: 20px;
}
#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

.product-card {
  width: 300px;
  height: 450px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.product-img {
  width: 150px;
  height: 160px;
}
.product-details-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
